:root {
    --primary-color: #FFFFFF;
    --second-color: #243D31;
    --font-color: #101010;
    --tertiary: #31543B;
    --details-color: #E7FFD8;
    --primary-font: 'DM Sans', sans-serif; 
    --second-font: 'Inter', sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--font-color);
    width: 100%;
}


img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}


