:root {
    --primary-color: #FFFFFF;
    --second-color: #243D31;
    --font-color: #101010;
    --tertiary: #31543B;
    --details-color: #E7FFD8;
    --primary-font: 'DM Sans', sans-serif; 
    --second-font: 'Inter', sans-serif;   
}

