:root {
    --primary-color: #FFFFFF;
    --second-color: #243D31;
    --font-color: #101010;
    --tertiary: #31543B;
    --lighter-color-green: #E7FFD8;
    --text-green: #24AA4A;
    --details-color: #E7FFD8;
    --neutral-color: #D9D9D9;
    --primary-font: 'DM Sans', sans-serif; 
    --second-font: 'Inter', sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0 auto;
}



/*Definições genericas*/

img {
    display: block;
    width: 100%;
}


.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

h1 {
   font-size: clamp(0.7rem, 4.5vh, 4rem); 
   font-weight: bold;
}

h2 {
    font-size: clamp(0.2rem, 5vh, 4.5rem);
    overflow: hidden;
}

p {
    font-size: 2vh;
}

.box {
    border-radius: 60px;
    border: 0;
}

.grid {
    display: grid;

}

/*HEADER*/


.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.logo {
    width: 7.5rem;
    height: auto;
}


#menu-desktop {
    display: none;
}

/*hero*/

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.3rem;
}

.hero-text {
    text-align: center;
}
.hero-text h1 {
    padding: 0 1rem;
}


.hero-content p {
    padding-top: 1rem;
    color: var(--neutral-color);
    line-height: 1.6rem;
}

.hero-input form{
    display: flex;
    flex-direction: column;
}

.start-button{
    color: var(--primary-color);
    background-color: var(--second-color);
    padding: 1.35rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    margin: 1rem 0;
}

#email-start {
    background-color: #F3F4F8;
    padding: 1.2rem;
    font-size: 1rem;
    color: #757B8A;
    margin-top: 1rem;
    padding-left: 1.55rem;
}

.hero-image {
    margin-bottom: 2rem;
    padding: 1.5rem 0.5rem;
}

/*Overview*/

.overview-section {
    background-color: #243D31;
    padding-bottom: 2rem;
}

.overview-inner {
    padding: 2.5rem 0;
}

.overview-content {
    color: var(--primary-color);
    flex-direction: column;
    padding-left: 0.3rem;
}

.overview-main {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding-top: 2rem;
}

.tag {
    background-color: var(--lighter-color-green);
    padding: 0.5rem 0.4rem;
    padding-left: 0.4rem;
    margin-left: 0.1rem;
    font-weight: bold;
    color: var(--text-green);
    font-size: 0.75rem;
    width: 9rem;
}

.overview-main h1 {
    color: var(--primary-color);
    width: 20%;
    font-size: 38px;
}

.overview-text p{
    color: #E6E9ED;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 1.2rem 0;
    margin-bottom: 2.3rem;
    line-height: 1.2rem;
}


.overview-numbers {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 4vh;
}

.info-numbers h1 {
    font-size: 32px;
}

.info-numbers p {
    font-size: 14px;
}

#version-desktop {
    display: none;
}

/*TEAM_SECTION*/

.team-section {
    background-color: #ffffff;
}

.brandings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "fedex amazon"
        "google microsoft";
    gap: 10%;
    padding: 5% 0;
    width: 99%;
    background: radial-gradient(circle, #fafafa 0%, #ffffff 100%);
}

.branding {
    padding: 25% 25%;
    border-radius: 16px;
    background-color: var(--primary-color);
    box-shadow: #757B8A;
    align-content: center;
    justify-content: center;
}

.branding img{
    padding: 0;
}


#branding-amazon {
    grid-area: amazon;
}
#branding-microsoft {
    grid-area: microsoft;
}
#branding-fedex {
    grid-area: fedex;
}
#branding-amazon {
    grid-area: amazon;
}

#branding-ola {
    display: none;
}

#branding-oyo {
    display: none;
}

.container-team {
    position: relative;
    margin: 5rem 0;
}

.image-team {
    height: 90%;
}

.card-team {
    height: auto;
    display: flex;
    padding: 4%;
    border-radius: 1rem;
    height: auto;
    position: absolute;
    z-index: 10;
    bottom: -10%;
    left: 10%;
    background-color: var(--primary-color);
    gap: 0.5rem;
    overflow: hidden;
}

.card-team img{
    width: 5rem;
}

.team-title {
    padding: 1rem 0;
}

.team-subheading {
    padding-bottom: 1rem;
}

.team-text {
    color: #757B8A;
}

/*ESTUDOS DE CASO*/
.cases-studies-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
     "text-case "
     "case-heart "
     "case-recovery";
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}

.cases-content {
    grid-area: text-case;
}

#case-heart {
    grid-area: case-heart;
}

#case-recovery {
    grid-area: case-recovery;
}

#tag-case {
    margin-bottom: 1rem;
}